@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./media/background.png");
    font-family: 'IBM Plex Mono', monospace;
    padding: 0;
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-weight: 900;
    margin: 0vw;
}

#page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#flex-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-link {
    font-weight: 100;
    margin: 0 2vw;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 10vw;
}

.page-title {
    font-size: 7vw;
    margin: 3vw 0 ;
}

.page-paragraph {
    text-align: center;
    font-weight: 100;
    width: 80%;
    font-size: 4vw;
    margin: 3vw 0;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.text-input {
    font-family: 'Roboto', sans-serif;
    margin: 3vw 0;
    width: 75vw;
    font-size: 4vw;
    font-weight: 100;
    background-color: transparent;
    color: white;
    border: 0.3vw solid white;
    border-radius: 1vw;
    padding: 3vw 4vw;
}

#submit-button {
    font-family: 'IBM Plex Mono', monospace;
    background: linear-gradient(91.04deg, #DA4F32 14.58%, #E89663 69.79%, #F4D890 100%);
    color: white;
    padding: 3vw 0;
    border: none;
    font-weight: 900;
    font-size: 3.5vw;
    border-radius: 1vw;
    margin: 5vw 0;
}

#orb {
    height: 60vw;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

input:focus {outline:none;}

@media only screen and (min-width: 600px) {
    .center-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: white;
        margin-top: 0vw;
    }    

    .page-title {
        font-size: 4vw;
        margin: 1vw 0 ;
    }
    
    .page-paragraph {
        text-align: center;
        font-weight: 100;
        width: 80%;
        font-size: 2vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
    }

    .text-input {
        font-family: 'Roboto', sans-serif;
        width: 35vw;
        font-size: 2vw;
        font-weight: 100;
        background-color: transparent;
        color: white;
        border: 0.1vw solid white;
        border-radius: 1vw;
        padding: 1vw 2vw;
        margin: 1.5vw 0vw;
    }

    #orb {
        height: 40vw;
    }

    #submit-button {
        font-family: 'IBM Plex Mono', monospace;
        background: linear-gradient(91.04deg, #DA4F32 14.58%, #E89663 69.79%, #F4D890 100%);
        color: white;
        padding: 1.25vw 0;
        border: none;
        font-weight: 900;
        font-size: 2vw;
        border-radius: 1vw;
        margin: 0vw 0;
        margin-top: 2.5vw;
    }

    #flex-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        font-family: 'Roboto', sans-serif;
        margin-top: 0;
        margin-bottom: 3vw;
        text-align: center;
        color: white;
        font-weight: 900;
        width: 100%;
    }

    #page-container {
        height: 100vh;
        width: 100vw;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }
  }